@model IEnumerable<JawabTawzeef.Core.RawMonthlyClicks>

<h1 style="text-align:center">@ViewBag.Title</h1>
<br />

<div class="container">

    <table class="table table-bordered table-hover">
        <thead style="background-color:powderblue">
            <tr>
                <th>Created Date </th>
                <th>Country Code </th>
                <th>Clicks</th>
                <th>GDN Clicks</th>
                <th>Total Clicks</th>
            </tr>
        </thead>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.created_date</td>
                <td>@d.country_code</td>
                <td>@d.Clicks</td>
                <td>@d.GDNClicks</td>
                <td>@d.Total_Clicks</td>

            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script>
        $('.table').dataTable({
        });
    </script>
}