@model List<Jawabkom_Generator3.Core.RawRevenuesLastMonthly>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>JAWABKOM</th>
        <th>JAWABSALE</th>
        <th>HAWIYYAH</th>
        <th>JAWABTAWZEEF</th>
        <th>JAWABMEHAN</th>
        <th>PLAYWIN</th>
        <th>QUALITYANSWER</th>
    </tr>
    <tbody>
        <tr>
            <td>@Html.ActionLink("Raw Currency", "Jawabkom_RawCurrency")</td>
            <td>@Html.ActionLink("Revenues Last", "Jawabsale_RevenuesLast")</td>
            <td>@Html.ActionLink("Revenues Last - ALL", "Hawiyyah_RevenuesLastALL")</td>
            <td>@Html.ActionLink("Raw Revenues Last Daily", "JawabTawzeef_RawRevenuesLastDaily")</td>
            <td>@Html.ActionLink("Raw Revenues Last Daily", "JawabMehan_RawRevenuesLastDaily")</td>
            <td>@Html.ActionLink("Raw Revenues Last Monthly", "PlayWin_RawRevenuesLastMonthly")</td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Raw Revenues Last Monthly", "Jawabkom_RawRevenuesLastMonthly")</td>
            <td>@Html.ActionLink("New LTV SAMEMONTH", "Jawabsale_NewLTVSamemonth")</td>
            <td>@Html.ActionLink("Revenues Last - PeopleReveal", "Hawiyyah_RevenuesLastPeopleReveal")</td>
            <td>@Html.ActionLink("Raw Revenues Last Monthly", "JawabTawzeef_RawRevenuesLastMonthly")</td>
            <td>@Html.ActionLink("Raw Revenues Last Monthly", "JawabMehan_RawRevenuesLastMonthly")</td>
            <td>@Html.ActionLink("Raw Final Report Monthly", "PlayWin_RawFinalReportMonthly")</td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Raw Final Report Monthly", "Jawabkom_RawFinalReportMonthly")</td>
            <td>@Html.ActionLink("First Sub Report", "Jawabsale_FirstSubReport")</td>
            <td>@Html.ActionLink("Revenues Last - Hawiyyah", "Hawiyyah_RevenuesLastHawiyyah")</td>
            <td>@Html.ActionLink("Raw Final Report Monthly", "JawabTawzeef_RawFinalReportMonthly")</td>
            <td>@Html.ActionLink("Raw Final Report Monthly", "JawabMehan_RawFinalReportMonthly")</td>
            <td>@Html.ActionLink("Raw Daily Cost", "PlayWin_RawDailyCost")</td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Raw Daily Cost", "Jawabkom_RawDailyCost")</td>
            <td>@Html.ActionLink("LTV MODELS", "Jawabsale_LTVMODELS")</td>
            <td>@Html.ActionLink("New LTV SAMEMONTH", "Hawiyyah_NewLTVSamemonth")</td>
            <td>@Html.ActionLink("Raw Daily Cost", "JawabTawzeef_RawDailyCost")</td>
            <td>@Html.ActionLink("Raw Daily Cost", "JawabMehan_RawDailyCost")</td>
            <td>@Html.ActionLink("Raw Monthly Clicks", "PlayWin_RawMonthlyClicks")</td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Raw Monthly Clicks", "Jawabkom_RawMonthlyClicks")</td>
            <td></td>
            <td>@Html.ActionLink("First Sub Report - ALL", "Hawiyyah_FirstSubReportALL")</td>
            <td>@Html.ActionLink("Raw Monthly Clicks", "JawabTawzeef_RawMonthlyClicks")</td>
            <td>@Html.ActionLink("Raw Monthly Clicks", "JawabMehan_RawMonthlyClicks")</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("First Sub Report - PeopleReveal", "Hawiyyah_FirstSubReportPeopleReveal")</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("First Sub Report - PeopleReveal", "Hawiyyah_FirstSubReportHawiyyah")</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

